<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssg.memberservicetest.mapper.MemberMapper">

    <resultMap id="MemberResultMap" type="com.ssg.memberservicetest.dto.MemberDTO">
        <id property="userId"    column="userId"/>
        <result property="userPwd"   column="userPwd"/>
        <result property="userName"  column="userName"/>
        <result property="userEmail" column="userEmail"/>
        <result property="joinDate"  column="joinDate" jdbcType="DATE" javaType="java.time.LocalDate"/>
    </resultMap>


    <insert id="insert" parameterType="com.ssg.memberservicetest.dto.MemberDTO">
        INSERT INTO member (userId, userPwd, userName, userEmail, joinDate)
        VALUES (#{userId}, #{userPwd}, #{userName}, #{userEmail},
        #{joinDate, jdbcType=DATE, javaType=java.time.LocalDate})
    </insert>

     <select id="findAll" resultMap="MemberResultMap">
        SELECT userId, userPwd, userName, userEmail, joinDate
        FROM member
        ORDER BY userId
    </select>

    <select id="findById" parameterType="string" resultMap="MemberResultMap">
        SELECT userId, userPwd, userName, userEmail, joinDate
        FROM member
        WHERE userId = #{userId}
    </select>
</mapper>